{block content}
<br>
<div class="row">
    {if $user->isLoggedIn()}
    <a n:href="Character:Create" class="tlacitko">Vytvořit charakter</a>
    {else}
    <h1>Přihlaste se</h1>
    {/if}
    </div>
</div>