{block content}
<a><div class="characters">
<h2>Peníz: {$characterInfo["money"]}</h2>
</div></a>
<div class="itemshop">
<h3>Meč (100 Zlaťáků)</h3>
<h3>Sekera (100 Zlaťáků)</h3>
<h3>Brnění (100 Zlaťáků)</h3>
<h3>Léčivý lektvar (100 Zlaťáků)</h3>
<h3>Boty (100 Zlaťáků)</h3>
<h3>Čarovná hůl (100 Zlaťáků)</h3>
<h3>Klobouk (100 Zlaťáků)</h3>
</div>