{block content}

<div class="row">
    <div class="Detail">
   <h3>Jméno: {$profiles["username"]}</h3>
   <h3>Id Uživatele: {$profiles["id"]}</h3>
   <h3>E-Mail: {$profiles["email"]}</h3>
    </div>
</div>