.f-c{clear: both;}
.margin-auto{margin:auto; width: fit-content;}

.nadpis {
    position: static;
	float: right;
    color:#262626
}
.footer {
    position: fixed;
    bottom: 0px;
    margin: 1%;
}
body {
    background: rgb(0,0,5);
    background: linear-gradient(30deg, rgb(0, 0, 7) 0%, rgb(0, 0, 34) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hlava {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(69,0,0,1) 100%);
}
.grep {
    background: rgb(100,0,107);
    background: linear-gradient(0deg, rgba(100,0,107,1) 0%, rgba(134,0,0,1) 100%);
}
.meloun {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(9, 109, 0) 0%, rgba(134,0,0,1) 100%);
}
.homelogo {
    width: 75px;
    height: 75px;
    padding: 75px;
    border: solid 2 white;
    background-image: url("../image/kaja.png");
    background-position: center;
    background-size: cover;
}
.homelogo:hover {
    transition: all 1s ease;
    background-image: url("../image/kaja2.jpeg");
}
.custom-btn {
    -webkit-mask-image: url("../image/mask.png");
    mask-image: url("../image/mask.png");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 500px;
    mask-size: 500px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: url("../image/custom-btn.png");
    image-rendering: pixelated;
    text-align: center;
    background-size: 45%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    padding: 70px;
	font-size:26px;
	text-decoration:none;
}
.custom-btn:hover {
    transition: all 1s ease;
    color: black;
}
.marginkokot {
    margin:auto;
}
.nazev {
    width: 600px;
    height: 40px;
    padding: 75px;
    border: solid 2 white;
    background-image: url("../image/nazev.png");
    background-position: center;
    background-size: cover;
}

.character-creator-wrapper{
    width: 20%;
    margin: auto;
}
.character-creator-wrapper span{
    font-size: 30px;
}
.character-creator-wrapper a{
    font-size: 30px;
    text-decoration: none;
}
.avatar{
    float: left;
    margin: auto;
    width: 15vw;
    border: 1px white solid;
    display: grid;
}
.avatar img{
    width: 15vw;
    grid-area: 1 / 1 / 2 / 2;
    image-rendering: pixelated;
}


.character-creator-wrapper{
    width: 50%;
    margin:auto;
}
.top-selector{
    width: fit-content;
    margin: auto
}
.left-selector{
    float:left;
}
.right-selector{
    float:left;
}