.nadpis {
    position: static;
	float: right;
    color:#262626
}
.hlava {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(69,0,0,1) 100%);
}
.footer {
    position: fixed;
    bottom: 0px;
    margin: 1%;
}
body {
    background: rgb(0,0,5);
    background: linear-gradient(30deg, rgb(0, 0, 7) 0%, rgb(0, 0, 34) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nazev {
    width: 600px;
    height: 40px;
    padding: 75px;
    border: solid 2 white;
    background-image: url("../image/nazev.png");
    background-position: center;
    background-size: cover;
}
.rooms {
    background-image: url("../image/drevo.png");
    max-width: 100px;
    height: 500px;
}